@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click to proceed to  <a href="/students">Students</a>.</p>
    <p>Click to proceed to  <a href="/teachers">Teachers</a>.</p>
</div>
